.btn {
    text-align: center;
    width: 150px;
    height: 50px;

    transition: 0.3s;
    border: 1px solid $border;
    border-radius: 25px;
    &_text {
        @include font(16px, 700);
        letter-spacing: -0.3px;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 2px $black;
        transition: 0.3s;
    }
}
