// colors
$header: #45852D;
$independentLiving: #006F79;
$supportAvailable: #EC6608;
$houseCard: #F8F8F8;
$black: #363636;
$white: #FFFFFF;
$border: #D8D8D8;

// sizes 
$largeContainer: 1190px;
$mediumContainer: 780px;
$smallContainer: 500px;